version: '3.9'

services:
  web:
    build: .
    command: gunicorn ip_tracking.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7-alpine
    restart: always

  celery:
    build: .
    command: celery -A ip_tracking worker -l info
    env_file: .env
    depends_on:
      - redis
      - web
    restart: always

  celery-beat:
    build: .
    command: celery -A ip_tracking beat -l info
    env_file: .env
    depends_on:
      - redis
      - web
    restart: always

